@import "tailwindcss";

@theme {
  --color-brand-blue: #2563eb;
  --color-brand-pink: #db2777;
}

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Forzar visibilidad de textos en la consola */
.text-white { color: #ffffff !important; }
.text-gray-500 { color: #a1a1aa !important; }
.bg-blue-600 { background-color: #2563eb !important; }